<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
      </rules>
    </rewrite>
    <iisnode nodeProcessCommandLine="&quot;C:\Program Files\nodejs\18.12.1\node.exe&quot;" />
    <customErrors mode="Off" />
    <httpErrors errorMode="Detailed"></httpErrors>
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>